{% extends 'parent.html' %}

{% block head %}
<title>secprac ({{ name }})</title>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block body %}

<img id="name" src="/static/img/secprac-name.svg"></img>
<h1>{{ name }}</h1>
<hr>

{% block readme %}{% endblock %}

<h2>Public Leaderboard</h2>
<p>{{ points }} total points<span id="sub"></span></p>

<noscript>JavaScript must be enabled to view the leaderboard.</noscript>

<div id="board-container">
	<table id="board">
	</table>
	<div id="controls">
		<button id="prev" onclick="prevPage()">&lt;</button>
		<span id="page"></span>
		<button id="next" onclick="nextPage()">&gt;</button>
	</div>
</div>

<script src="/static/js/leaderboard.js"></script>

{% endblock %}
