/* leaderboard */
#board {
	border-collapse: collapse;
	width: 100%;
}
tr:hover {
	background-color: #ddd;
	cursor: pointer;
}
tr:first-child:hover {
	background-color: inherit;
	cursor: inherit;
}
td {
	padding: 8px 16px;
	border: 1px solid #000;
}
#controls {
	margin: 16px auto;
}
button {
	font-size: 1.4em;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: 0px;
}
button:hover {
	cursor: pointer;
	background-color: #ddd;
}
#page {
	margin: 16px;
}
